@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --green:#176437;
   --black:#333;
   --white:#fff;
   --red: #ee2809e8;
   --bg-color:#eee;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid var(--black);
   --marian-blue: #E1EBEE;
   --blue:#56aae2;
   --form-bg: #f2d8cd;
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   background-color: var(--marian-blue);
}

#update{
   background: url(../css/images/parking_spot.png) no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
.btn{
   display: block;
   width: 100%;
   cursor: pointer;
   border-radius: .5rem;
   margin-top: 1rem;
   font-size: 1.7rem;
   padding:1rem 3rem;
   background: var(--green);
   color:var(--white);
   text-align: center;
}

.btn:hover{
   background: var(--black);
}

#logoutBtn {
   float: right;
   width: 10%;
   background: var(--red);
}

#logoutBtn:hover {
   background: var(--black);
}
img {
   width: 250px;
   height: 250px;
   float: left;
   margin: auto;
}
.message{
   display: block;
   background: var(--bg-color);
   padding:1.5rem 1rem;
   font-size: 2rem;
   color:var(--black);
   margin-bottom: 2rem;
   text-align: center;
}

.container{
   max-width: 1200px;
   padding:2rem;
   margin:0 auto;
}

.admin-employee-form-container.centered{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   
}

.admin-employee-form-container form{
   max-width: 50rem;
   margin:0 auto;
   padding:2rem;
   border-radius: .5rem;
   background: var(--form-bg);
}

.admin-employee-form-container form h3{
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 1rem;
   text-align: center;
   font-size: 2.5rem;
}

.admin-employee-form-container form .box{
   width: 100%;
   border-radius: .5rem;
   padding:1.2rem 1.5rem;
   font-size: 1.7rem;
   margin:1rem 0;
   background: var(--white);
   text-transform: none;
}

.employee-display{
   margin:0;
}

.employee-display .employee-display-table{
   width: 90%;
   text-align: center;
}

.employee-display .employee-display-table thead{
   background: var(--bg-color);
}

.employee-display .employee-display-table th{
   padding:1rem;
   font-size: 1.6rem;
}


.employee-display .employee-display-table td{
   padding:1rem;
   font-size: 1.6rem;
   border-bottom: var(--border);
}

.employee-display .employee-display-table .btn:first-child{
   margin-top: 0;
}

.employee-display .employee-display-table .btn:last-child{
   background: crimson;
}

.employee-display .employee-display-table .btn:last-child:hover{
   background: var(--black);
}




@media (max-width:900px){
   html{
      font-size: 55%;
   }
}

@media (max-width:768px){
   .employee-display{
      overflow-y:scroll;
   }

   .employee-display .employee-display-table{
      width: 70rem;
   }
}

@media (max-width:450px){
   html{
      font-size: 50%;
   }
}